/*Bayview BP project
Kim Johnson
March 2018 ITD 210
*/
/*Body Style*/
body {
	
	background-color: white;	/*Light Green*/
}
/*Header Style*/

 #heading {
	 text-align:center;
	 color: rgb(255,199,44);
	 display:block;
 }
h1 {
	text-align:center;
	color: rgb(255,199,44);
	display:block;
}
/*Content Style*/
 .box {
	 display:block;
 margin:auto;
 }
 
 #cal {
	 text-align:center;
 }
 
 #location {
	 display:inline-block;
	 float:right;
	
 }
 .square1 {
	 display:block;
	 float:right;
 }
 
 
	 .square2 {
		 display:block;
		 clear:left;
	 }
 
  /*Carousel Style*/
   .carousel-inner > .item > img,
   .carousel-inner > .item > a > img {
	   display:block;
	   max-width: 100%;
	   height:500px! important;
   }



/*Navigation Style*/
nav ul {
	width: 100%;
	float: left;
	margin: 0 0 2em 0;
	padding: 6px 6px;
	list-style: none;
	background-color: rgb(2,153,73); /*Green*/
	height: 3em;
  
}

nav li  {
	float: left;
}

nav li a {
	display: block;
	padding: 1px 12px;
	text-decoration: none;
	line-height: 2em;
	color: rgb(255,199,44); /*Yellow*/
	border-right: 2px solid rgb(255,199,44);
}

nav li a:hover {
	color: white;
	background-color: rgb(161,196,55); /* Light Green*/
}
nav li a.b {
	color: white;
	background-color: rgb(161,196,55); /* Light Green*/
}
/*Image Style*/
#image1 {
	float:left;
	display:block;
}
#tweet {
	float:right:
	display:block;
}
#image2 {
	float:right;
	display:inline-block;
}
#image3 {
	display:inline-block;
	clear:right;
}
	

/*Footer Style*/
footer { 
position:fixed;
right: 0;
bottom:0;
left: 0;
padding: 1em;
text-align: center;
background-color: rgb(2,153,73); /*Green*/
color: rgb(255,199,44); /*Yellow*/
}